
.item-list UL.ubl-detail-tools LI {
  margin: 0;
}
DIV.link-additional {
  display: none;
  padding: 5px;
  position: absolute;
  min-width:300px;
  max-width:450px;
  background-color: #7f88ab;
  z-index: 500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
DIV.link-additional DIV.menu {
  padding: 0 10px 0 20px;
  margin-bottom: 30px;
  color:white;
}
DIV.link-additional DIV.menu H3 {
  color: white;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

DIV.link-additional DIV.menu INPUT#persistenturl {
  width: 24em;
  margin: 0.5em 0;
}
